.banner-section {
    box-sizing: border-box;
    height: 797px;
   /* background-image: linear-gradient(#4277FF, #3A4042);
    */
    border-bottom: 10px solid #000;
    background-image: url(../../assets/images/Background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section > .wrapper {
    display: inline-flex;
    flex-direction: column;
    width: 627px;
    margin: 116px 90px;
}

.banner-section > .wrapper > .navigation {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}