.letter-logo {
    width: 180px;
    height: 180px;
    display: flex;
    background-color: #4277ff;
    justify-content: center;
    align-items: center;
}

.letter-logo > .letter {
    font-family: fantasy, 'Arial';
    font-size: 50px;
    text-align: center;
    overflow-wrap: anywhere;
    text-shadow: 3px 3px 1px #fff;
    color: #000;
}

/*component letter-logo variations*/ 
.letter-logo.-transparent {
    background-color: transparent;
}

/*element letter variations*/
.letter.-noshadow {
    text-shadow: none;
}
.letter.-violet {
    color: violet;
}
.letter.-blue {
    color: blue;
}
.letter.-greenyellow {
    color: greenyellow;
}
.letter.-hotpink {
    color: hotpink;
}