.letter-logo {
    width: 150px;
    height: 150px;
    display: flex;
    background-color: rgb(133, 62, 139);
    justify-content: center;
    align-items: center;
}

.letter-logo > .letter {
    font-family: fantasy, 'Arial';
    font-size: 100px;
    text-shadow: 3px 3px 1px rgb(146, 140, 140);
    text-transform: uppercase;
    color: teal;
}

/*component letter-logo variations*/ 
.letter-logo.-trbg {
    background-color: transparent;
}

/*elemnt letter variations*/
.letter.-tomato {
    color: tomato;
    text-shadow: 3px 3px 1px yellow;
}
.letter.-lime {
    color: lime;
    text-shadow: 3px 3px 1px red;
}