.main-title {
    font-size: 40px;
    font-weight: normal;
    color: white;
    text-align: center;
    margin-bottom: 62px;   
}

.main-title.-second {
    color: #4277FF; 
    text-shadow: 4px 4px #000;
}