.presentation-box {
    display: inline-block;
    background-color: #3A4042;
    padding: 45px;
    text-align: center;
    box-shadow: 10px 10px #000;
}

.presentation-box .title {
    margin-bottom: 25px;
}