.project-item {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 1%;
    margin-bottom: 3rem;
    background-color: #fff;
    box-shadow: 10px 10px 0 0 #95a0bd;
    align-items: center;
    justify-content: center;
}

.project-item.-variation1 {
    background-color: #AA01FA
}

.project-item.-variation2 {
    background-color: #4C5B84;
}

.project-item.-variation3 {
    background-color: #f25a6f;
}

.project-item .icon {
    max-width: 100%;
    max-height: 100%;
}

.project-item > .icon.-roundimage {
    border: 1px solid transparent;
    border-radius: 100%;
}
