.project-item {
    display: flex;
    width: 200px;
    height: 200px;
    padding: 1%;
    margin-bottom: 3rem;
    background-color: #aa01fa;
    box-shadow: 10px 10px 0 0 #95a0bd;
    align-items: center;
    justify-content: center;
}

/*Project-item background variations*/
.project-item.-variation1 {
    background-color: #f25a70;
}
.project-item.-blueviolet {
    background-color: blueviolet;
}
.project-item.-violet {
    background-color: violet;
}
.project-item.-deepskyblue {
    background-color: deepskyblue;
}

/*fix image inside a project-item*/
.project-item .icon {
    max-width: 100%;
    max-height: 100%;
}

.project-item > .icon.-roundimage {
    border: 1px solid transparent;
    border-radius: 100%;
}
