.skills-list-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 960px;
    margin: 62px auto;
    justify-content: space-between;
} 

.skill-item {
    display: flex;
    width: 430px;
    height: 90px;
    margin-bottom: 38px;
    border: 1px solid;
}

.skill-item .right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.skill-item .icon {
    width: 80px;
    height: 90px;
    margin-right: 25px;
}

.title {
    color: #fff;
    font-size: 25px;
}