.skill-section {
    height: 740px;
    background-color: #4277FF;
    padding-top: 50px;
}

.skill-section .wrapper {
    display: flex;
    flex-flow: row wrap;
    max-width: 960px;
    margin: 62px auto;
    justify-content: space-between;
} 