.skill-item {
    display: flex;
    width: 430px;
    height: 90px;
    margin-bottom: 38px;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;
}

.skill-item .right {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.skill-item .title {
    color: #fff;
    font-size: 25px;
}