
.square-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.square-link:visited {
    color: white;
}

.square-link::before {
    content: '';
    background-color: #62C370;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}