.stylized-timeline {
    display: flex;
}

.stylized-timeline > .dashedtimeline {
    display: inline-block;
    width: 40px;
    background-color: #AA01FA;
    border: 3px dashed #000;
}

.stylized-timeline > .maintimeline {
    display: inline-block;
    width: 1360px;
    height: 6px;
    background-color: #000;
    border: none;
}